body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.envelope-container {
    position: relative;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Añade perspectiva para la animación 3D */
}

.envelope {
    width: 100%;
    height: auto;
    transition: transform 1s;
    transform-style: preserve-3d; /* Asegura que la transformación sea en 3D */
}

.envelope.open {
    transform: rotateX(-180deg); /* Gira el sobre cuando se abre */
}

.seal-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: red;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 10; /* Asegura que el botón esté por encima del sobre */
}

.seal-button:hover {
    background-color: darkred;
}
